<!-- navbar -->
		<nav class="navbar navbar-dark bg-dark">
			
				<a
					class="
						navbar-brand
						d-flex
						justify-content-between
						align-items-center
						order-lg-0
					"
					href="/allproducts"
				><button type="button" class="btn btn btn-dark my-2 my-sm-0">
					<span class="text-uppercase fw-bold">MONGO</span>
					<span class="fw-lighter">Store</span></button>
				</a>
				<a href="/new">
    <button type="button" class="btn btn-outline-light my-2 my-sm-0">
						New
						</button>
						</a>
     </div>
		</nav>
		<!-- end of navbar -->